:root{
    --primary-color: #425A94;
    --primary-color-light: #4176f0;
    --primary-color-hard: #071b4b;
    --secondary-color: #D32150;
    --secondary-color-light: #e28ea4;
    --secondary-color-hard: #9e173b;
    --accent-color: #dd0000;
    --blanco-1: #ffff;
    --blanco-2: #f8f5f5;
    --gris-1: #e6e3e3;
    --gris-2: #3f3f3f;
}

*{
    font-family: 'Inter Tight', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER CONTAINER*/

.header-container{
    width: 100%;
    height: 22rem;
    padding-bottom: 6rem;
    background-image: url(images/background.svg);
    background-size: cover;
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

.header-container h1{
    width: 90%;
    margin: auto;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: 7rem;
    font-weight: 800;
    color: var(--blanco-1);
}

.cuervos{
    width: 39rem;
    justify-self: center;
    position: relative;
    top: 0.3rem;
}

.container-escudo{
    width: 90%;
    display: grid;
}

.escudo{
    width: 9rem;
    justify-self: center;
    align-self: end;
}

/*EFECTO CAMISETA TITULAR*/

.titulo-camiseta{
    width: 90%;
    margin: auto;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--gris-2);
}

.contenedor{
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    display: grid;
    justify-content: center;
}

.background{
    background-color: var(--secondary-color);
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 52% 48%;
    transition: 2s;
}

.contenedor:hover .background{
    background-color: var(--primary-color-hard);
    width: 50rem;
    border-radius: 10px;
}

.texto-animacion{
    grid-column: 2 / 3;
    padding: 1.2rem;
    color: var(--blanco-1);
    z-index: -1;
    transition: 2s;
    display: grid;
    grid-template-rows: 5rem 13rem 4rem;

}

.contenedor:hover .texto-animacion{
    z-index: 0;
}

.tipografia-bold{
    font-weight: 700;
}

.boton-camiseta-principal{
    width: fit-content;
    height: fit-content;
    background-color: var(--blanco-1);
    color: var(--blanco-1);
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    justify-self: end;
    align-self: center;
    transition: 2s;
}

.contenedor:hover .boton-camiseta-principal{
    background-color: #D32150;
}

.contenedor img{
    width: 27rem;
    position: relative;
    bottom: 3rem;
    z-index: 1;
}

/*TIENDA DE PRODUCTOS*/

/*Contenedor general*/

.contenedor-productos{
    width: 90%;
    margin: auto;
    margin-top: 7rem;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

/*Contenedor de producto individual*/

.productos{
    max-width: 100%;
    min-width: 15rem;
    margin: auto;
    padding: 1rem;
    display: grid;
    gap: 0.5rem;

}

.productos:hover{
    box-shadow: 0.3rem 0.3rem 0.3rem rgb(204, 201, 201);
}

/*Elementos del contenedor de producto individual*/

.productos img{
    width: 11rem;
    justify-self: center;
    transition: 1s;
}

.productos:hover img{
    width: 12.5rem;
}

.productos h2{
    color: var(--gris-2);
    font-size: 1.3rem;
}

.precio{
    font-size: 1.5rem;
    color: var(--gris-2);
}
.contenedor-talles{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.talles{
    width: 2.5rem;
    height: 2rem;
    background-color: white;
    border: 0.1rem solid rgb(219, 218, 218);
    cursor: pointer;
    display: grid;
}

.talles p{
    justify-self: center;
    color: var(--gris-2);
    margin-top: 0.3rem;
}

.barra-talles{
    width: 2rem;
    height: 0.2rem;
    background-color: var(--secondary-color);
    justify-self: center;
    z-index: -1;
    transition: 0.5s;
}

.talles:hover .barra-talles{
    z-index: 0;
}

.barra-talles--fijo{
    width: 2rem;
    height: 0.2rem;
    background-color: var(--secondary-color);
    justify-self: center;
    z-index: 1;
    transition: 0.5s;
}

.boton-comprar{
    width: 90%;
    background-color: var(--primary-color-hard);
    color: var(--blanco-1);
    border-radius: 10px;
    border-style: none;
    padding: 0.2rem;
    cursor: pointer;
    justify-self: center;
    
}

.boton-comprar:hover{
    background-color: #092f88;
    
}

.boton-ir-a-carrito{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-decoration: none;
    color: var(--blanco-1);
}

/*CARRITO*/

.titulo-carrito-movil{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    color: var(--gris-2);
    opacity: 0;
}

.contenedor-columnas{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    color: var(--gris-2);
    display: grid;
    gap: 1rem;
    grid-template-columns: 40% 20% 20% 10% 10%;
    
}

.productos-autogenerados{
    width: 90%;
    margin: auto;
    color: var(--gris-2);
    display: grid;
    gap: 1rem;
    grid-template-columns: 40% 20% 20% 10% 10%;
    
}

.linea{
    width: 100%;
    height: 0.1rem;
    background-color: #bebebe;
}

.contenedor-filas-productos-autogenerados{
    width: 100%;
    margin: auto;
    display: grid;
    gap: 2rem;
    margin-bottom: 3rem;
}

.titulo-columnas{
    font-size: 1.3rem;
    font-weight: 700;
}

.texto-filas{
    align-self: center;
}

.carrito-producto{
    display: flex;
    gap: 1rem;
}

.carrito-producto p{
    align-self: center;
}

.carrito-producto img{
    width: 3rem;
}

.carrito-talle{
    align-self: center;
}

.input-cantidad{
    width: 2.8rem;
    height: 1.5rem;
    text-align: center;
    align-self: center;
}

.boton-borrar{
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: white;
    cursor: pointer;
    border-style: none;
    align-self: center;

}
/*FINALIZAR COMPRA*/ 

.contenedor-columnas{
    margin-top: 2rem;
}
.finalizar-compra{
    width: 90%;
    margin: auto;
    color: var(--gris-2);
    display: grid;
    gap: 1rem;
}

.total-contenedor{
    justify-self: end;
    display: flex;
    gap: 1rem;
}

.total{
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
}

.palabra-total{
    font-size: 1.5rem;
    font-weight: 400;
    align-self: center;
}

.boton-finalizar-compra{
    width: fit-content;
    background-color: var(--primary-color-hard);
    color: var(--blanco-1);
    font-size: 1.5rem;
    border-radius: 10px;
    border-style: none;
    padding: 0.5rem;
    cursor: pointer;
    justify-self: end; 
}

/*FOOTER*/

footer{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--primary-color-hard);
    color: var(--blanco-1);
    display: grid;
    justify-content: center;
    align-content: center;
}

/*MODAL (modal final y modal de "no seleccionaste talle"*/

.contenedor-modal{ /*Es el fondo negro con opacidad*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    z-index: 2;
    opacity: 0; /*Hacemos que solo se vea con la clase show*/
    pointer-events: none; /*Le sacamos los atributos clickeables para que solo los tenga con la clase show*/
    /*ABAJO VAMOS A MEJORAR LA TRANSICIÓN*/
    transition: opacity .6s .9s; /*Indicamos transición de opacidad suave al abrir y cerrar el modal*/
    --transform: translateY(-100vh); /*Creamos una propiedad customizada para que baje de arriba el Modal*/
    --transition: transform .7s; /*Creamos una propiedad customizada para hacer suave la transición que hicimos con transform*/
}

.contenedor-modal--show{
    opacity: 1;
    pointer-events: unset;
    /*ABAJO VAMOS A MEJORAR LA TRANSICIÓN*/
    transition: opacity .6s; /*Indicamos transición de opacidad suave al abrir y cerrar el modal*/
    --transform: translateY(0); /*Creamos una propiedad customizada para que baje de arriba el Modal*/
    --transition: transform .7s .7s; /*Creamos una propiedad customizada para hacer suave la transición que hicimos con transform*/
}

.modal{
    width: 90%;
    max-width: 40rem;
    background-color: var(--blanco-1);
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(59, 58, 58);
    margin: auto;
    padding: 1rem;
    margin-top: 10rem;
    border-radius: 8px;
    display: grid;
    gap: 1rem;
    transform: var(--transform); /*Agregamos la transición que hicimos para el contenedor*/
    transition:var(--transition); /*Agregamos la transición que hicimos para el contenedor*/
}

.modal-close{
    justify-self: right;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: white;
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-content: center;
}

.titulo-modal{
    color: var(--gris-2);
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
}

.contenedor-imagenes-modal{
    justify-self: center;
    display: grid;
}

.imagen-modal{
    width: 10rem;
    position: relative;
    animation-name: salto;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes salto {
    0% {top: 1rem;}
    50%{top: 0;}
    100%{top: 1rem;}
}

.sombra-robot{
    width: 10rem;
    position: relative;
    left: 0.3rem;
}

.sombra-no-seleccion-talle{
    position: relative;
    bottom: 0.8rem;
}

.texto-modal{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    color: var(--gris-2);
    line-height: 1.5rem;
}

.portfolio{
    font-weight: 800;
    color: var(--primary-color-hard) ;
}

/*MEDIA QUERIES*/

@media (max-width: 1547px) {
    .header-container h1{
        font-size: 5rem;
    }
  }

@media (max-width: 1121px) {
    .header-container h1{
        font-size: 4rem;
    }

    .cuervos{
        width: 90%;
    }

    .escudo{
        position: relative;
        top: 1rem;
    }
  }

@media (max-width: 800px) {
    .header-container{
        height: 24rem;
        grid-template-columns: 50% 50%;
        margin-bottom: 0rem;
    }

    .header-container h1{
        margin-top: 1rem;
    }

    .cuervos{
        width: 90%;
    }

    .container-escudo{
        margin: auto;
        grid-column: 1 / 3;
    }

    .escudo{
        position: relative;
        top: 0rem;
    }

    .titulo-camiseta{
        margin-bottom: 8rem;
    }

    .contenedor-productos{
        grid-auto-rows: 25rem;
    }

    .productos{
        box-shadow: 0.3rem 0.3rem 0.3rem rgb(204, 201, 201);
    }

    /*Queries de la camiseta*/

    .contenedor{
        display: none;
    }

    .contenedor-productos{
        position: relative;
        bottom: 6.5rem;
    }

    
}

@media (max-width: 700px){

    .titulo-carrito-movil{
        opacity: 1;
    }

    .contenedor-columnas{
        display: none;
    }

    .contenedor-filas-productos-autogenerados{
        width: 90%;
    }
    
    .productos-autogenerados{
        height: 9rem;
        grid-template-columns: 55% 20% 17%;
        grid-template-rows: 30% 30% 30%;
        gap: 0.5rem;
        box-shadow: 0.3rem 0.3rem 0.3rem rgb(204, 201, 201);
    }
    
    .texto-filas{ /*Es el precio*/
        grid-column:  2 / 3;
        grid-row: 3 / 4;
        justify-self: end;
        position: relative;
        bottom: 1.5rem;
    }
    
    .carrito-producto{
        grid-row: 1/4 ;
        display: grid;
        grid-template-rows: 20% 80%;
        gap: 0.5rem;
    }
    
    .carrito-producto p{
        grid-row: 1 / 2;
        align-self: start;
        justify-self: start;
        font-weight: 700;
    }
    
    .carrito-producto img{
        grid-row: 2 / 3;
        width: 5rem;
        justify-self: center;
    }
    
    .carrito-talle{
        grid-column:  2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
        position: relative;
        top: 3rem;
    }
    
    .input-cantidad{
        grid-column:  2 / 3;
        grid-row: 2 / 3;
        justify-self: end;
    }
    
    .boton-borrar{
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        align-self: center;
        justify-self: center;
    }
}

@media (max-width: 644px) {
    .header-container{
        grid-template-columns: 50% 50%;
        margin-bottom: 4rem;
    }

    .escudo{
        position: relative;
        top: 3rem;
    }

    .cuervos{
        width: 90%;;
    }
}

@media (max-width: 545px) {
    .escudo{
        position: relative;
        top: 0.8rem;
    }
}

@media (max-width: 435px) {
    .cuervos{
        width: 100%;
        position: relative;
        top: 4.5rem;
    }

    .escudo{
        position: relative;
        top: 0rem;
    }
}